<div class="container">
  <div class="sidebar">
    <div *ngFor="let user of users$ | async; trackBy: trackByFn" 
         (click)="selectUser(user.id.value)" 
         [class.selected]="(selectedUser$ | async)?.id?.value === user.id.value"
         [ngClass]="{'flagged': user.flagged}"
         class="user-list-item">
      <div class="avatar">
        <img [src]="user.picture.thumbnail" alt="User avatar">
      </div>
      <div>{{ user.name.first }} {{ user.name.last }}</div>
    </div>
  </div>

  <div class="content">
    <div class="details">
      <div *ngIf="selectedUser$ | async as selectedUser">
        <h2>{{ selectedUser.name.first }} {{ selectedUser.name.last }}</h2>
        <div>
          <div>title: {{ selectedUser.name.title }}</div>
          <div>name: {{ selectedUser.name.first }}</div>
          <div>surname: {{ selectedUser.name.last }}</div>
          <div>email: {{ selectedUser.email }}</div>
          <button 
            (click)="flagUser(selectedUser.id.value, !selectedUser.flagged);">
            {{ selectedUser.flagged ? 'Unflag' : 'Flag' }}
          </button>
        </div>
        <!-- Display other user data here -->
      </div>
    </div>
  </div>
</div>