.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 25%;
  overflow: auto;
  border-right: 1px solid #ccc;
  padding: 1em;
  height: 100vh; /* Set a fixed height */
}

.content {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  width: 100vw;
}

.details {
  padding: 1em;
  width: 75%;
}

.avatar {
  margin-right: 1em;
}

.user-list-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 1em;
  padding: 1em;
  transition: background-color 0.3s ease;
}

.user-list-item:hover {
  background-color: #f0f0f0;
}

.user-list-item.selected {
  background-color: #d0d0d0;
}

.flagged {
  color: red;
}